<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Reid Park Things To Do</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <img src="/assets/zoo.jpg" alt="" />
    <ion-card-header>
      
      <ion-card-title>Reid Park</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.tucsonaz.gov/parks/GeneCReidPark')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Gene C. Reid Park</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-628-5798">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 628-5798</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/place/Reid+Park,+Tucson,+AZ/data=!4m2!3m1!1s0x86d6703c5eebab3f:0x7710178bfbc939fc?sa=X&ved=2ahUKEwiKyoKr7NvnAhW0JDQIHcDBBsoQ8gEwJnoECBkQBA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>900 S Randolph Way</ion-label>
    </ion-item>
    <ion-card-content>
    </ion-card-content>
    
    
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/amphitheater">
          <img src="/assets/amphitheater.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Amphitheatre</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/children">
          <img src="/assets/play.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Children’s Playground</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/corbett">
          <img src="/assets/baseball.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Corbett Field</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/dog">
          <img src="/assets/dog.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Dog Parks</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/duck">
          <img src="/assets/duck.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Duck Pond</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/golf">
          <img src="/assets/golf2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Golf</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/rose">
          <img src="/assets/rose.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rose Garden</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/swimming">
          <img src="/assets/swim.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Swimming</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/train">
          <img src="/assets/train.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Choo-Choo Train</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park/zoo">
          <img src="/assets/zoo2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Reid Park Zoo</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
    
     
     
     
    
     
  </ion-grid>





  
  
  
  
  
  
 
 
  
  
  
  
 

  
</ion-content>
