<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/indoor-things-to-do/spas"></ion-back-button>
    </ion-button>
    <ion-title>Spa Solai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <img src="/assets/solai.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tucson's Best Spas</ion-card-subtitle>
      <ion-card-title>Spa Solai</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.spasolai.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Spa Solai</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-447-7727">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 447-7727</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//spa+solai+tucson/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d6705337fb44b3:0x30462d5fa228c629?sa=X&ved=2ahUKEwjZpe3rzdvnAhVYCTQIHcZ1AY8Q9RcwAHoECAMQCQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>446 N Campbell Ave #180, Tucson, AZ 85719</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//spa+solai+tucson/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d672f491aa4087:0xe8227f09f6570631?sa=X&ved=2ahUKEwi76LnezdvnAhX3FjQIHdpkD_EQ9RcwAHoECAMQCQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>6330 N Campbell Ave, Tucson, AZ 85718</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk02Sku7yBVW5bemR5v3tYPgx5gC9pw%3A1599495721482&ei=KV5WX-X7HNLk9APfg4zoAQ&q=spa+solai+tucson+google+reviews&oq=spa+solai+tucson+google+reviews&gs_lcp=CgZwc3ktYWIQAzoGCAAQBxAeOggIABAIEAcQHlDzjQVYnqsFYJetBWgAcAB4AIABigGIAawHkgEDMy42mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab&ved=0ahUKEwiltLHyudfrAhVSMn0KHd8BAx0Q4dUDCA0&uact=5#lrd=0x86d6705337fb44b3:0x30462d5fa228c629,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/spa-solai-6th-tucson-4n')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>You deserve a day of pampering. Everybody does! If you don’t have a full day, then you can customize the treatments. Massages range from Fire and Ice Treatments, Aromatherapy, Sports Massage to help prevent injuries, Swedish Massage for relief of minor pain and stress to Deep Tissue Massages, which can help relieve chronic pain. You can also schedule facials, manicures, pedicures, and waxing. When you leave Spa Solai, your body will feel refreshed and relaxed. Selecting one of the Spa Experiences will also give your mind and spirit a luxurious feeling of inner peace.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
