<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/indoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Museums</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/art">
          <img src="/assets/art.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson Museum of Art</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/children">
          <img src="/assets/children.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Children’s Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/gem">
          <img src="/assets/gem.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Gem and Mineral Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/jewish">
          <img src="/assets/jewish.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Jewish Heritage Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/moca">
          <img src="/assets/contemporary.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Museum of Contemporary Art</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/presidio">
          <img src="/assets/presidio.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Presidio Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/sosa">
          <img src="/assets/sosa.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Sosa-Carrillo-Frémont Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/transportation">
          <img src="/assets/transportation.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Transportation Museum</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/university">
          <img src="/assets/uarizona.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >University of Arizona Museum of Art</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/museums/university" style="visibility: hidden;">
          <img src="/assets/uarizona.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >University of Arizona Museum of Art</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     
     
     
    
     
  </ion-grid>


  
  
  
  
  
  
 
  
  
 

  
</ion-content>
