<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Dakota Plumbing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/dakota-plumbing.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Home Plumbing</ion-card-subtitle>
      <ion-card-title>Dakota Plumbing</ion-card-title>
    </ion-card-header>
    <ion-item href="mailto:Dakotaplumbingservice@gmail.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Nick Benson - Dakota Plumbing</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-954-0073">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 954-0073</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//dakota+plumbing/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d66f18995251e5:0x6fc9b5f33ffd5e00?sa=X&ved=2ahUKEwjJk9mypJXnAhURsJ4KHfJJD0QQ9RcwFXoECBgQDw')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>11495 E Speedway Blvd, Tucson, AZ 85748</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk024vNCecUasZrlNFYeeuBETBbRgAA%3A1598977309426&ei=HXVOX-LVGdTn-wTB-aqAAw&q=dakota+plumbing+google+reviews&oq=dakota+plumbing+google+reviews&gs_lcp=CgZwc3ktYWIQAzoGCAAQBxAeOgQIABANUK3hoAFY0fOgAWCm9aABaABwAHgAgAFyiAHyC5IBAzYuOZgBAKABAaoBB2d3cy13aXrAAQE&sclient=psy-ab&ved=0ahUKEwii2KDUrsjrAhXU854KHcG8CjAQ4dUDCA0&uact=5#lrd=0x86d66549f51143df:0x7cb69a3f008dfdb7,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
      
    </ion-item>
    <ion-card-content>
      <p>When we decided to replace all the plumbing in our master bath shower, we brought in Dakota Plumbing.  They arrived when promised, which was important, because the work had to be coordinated with our tile setter.  The guys did an amazing job installing all the fixtures and the faucet.  They worked well with the tile setter, ensuring the job went as smooth as possible.  I can’t say enough about the professionalism, quality of work and fair pricing.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Consultation and installation service on all plumbing projects. Repairs and restoration. Small projects as well as large scope jobs. He has outstanding workmanship. From water heaters to sewer issues as well as smaller, remodeling or repair.
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
