<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Sharon Schlessinger - ADT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    
    <img src="/assets/adt.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Security</ion-card-subtitle>
      <ion-card-title>Sharon Schlessinger - ADT</ion-card-title>
    </ion-card-header>
    <ion-item (click)="openWithSystemBrowser('mailto:shushs2000@gmail.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Sharon Schlessinger - ADT</ion-label>
    </ion-item>
  
    <ion-item href="tel:909-913-1961">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(909) 913-1961</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/place/4861+S+Hotel+Dr+%23105,+Tucson,+AZ+85714/data=!4m2!3m1!1s0x86d67ac897d0d807:0x3868dc86a913590b?sa=X&ved=2ahUKEwjXufDBy97qAhWuJTQIHXp6Cr8Q8gEwAHoECBYQAQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>4861 S Hotel Drive, Unit 105, Tucson AZ 85714</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk00yappmInXeDjS-UaEKc-lBVkWqKw%3A1598975645009&ei=nW5OX_QQxsv6BJD-g7AP&q=adt+security+google+reviews&oq=adt+security+google+reviews&gs_lcp=CgZwc3ktYWIQAzICCAAyBggAEAgQHjoGCAAQBxAeOggIABAHEAoQHjoECAAQDToICAAQCBAHEB46CAgAEA0QBRAeOggIABAIEA0QHlCX6SBYkvUgYMD2IGgAcAB4AIABdIgB0wmSAQM0LjiYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwi008y6qMjrAhXGpZ4KHRD_APYQ4dUDCA0&uact=5#lrd=0x86d67ac8bd7edf91:0xa44c2d315c9c5c0b,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://yelp.com/biz/adt-security-services-tucson-23?osq=adt+security')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_2_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>I had the opportunity to meet Sharon, from ADT, when she came to my rescue regarding an improper
        installation by another company. She came to my house, did an assessment of my needs and built a plan to
        meet all my home security needs. Sharon also provided her cell number, directing me to call her with any
        questions or problems. She also made herself available to be at my home for the removal of the other
        companies’ inventory, to ensure a proper removal took place. She is a full, end to end service provider.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>At ADT, we understand that the most important service we can offer to you is to protect the security and
      tranquility of your family and home. To us, this means more than just installing a home security system
      in your Tucson, AZ home. We have been the leading home security company for over 140 years.</p>
    </ion-card-content>
    
  </ion-card>

</ion-content>
