<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Client Reviews</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  

 

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/client-reviews/bustamonte">
          <img src="/assets/review1.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Adam & Marta Bustamante</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/client-reviews/wallace">
          <img src="/assets/wallace.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Chris & Lissa Wallace</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
    </ion-grid>

    
</ion-content>
