<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/camping"></ion-back-button>
    </ion-button>
    <ion-title>Camping on Lake Powell</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides pager="true">
      
      <ion-slide>
        <img src="/assets/powell.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/powell1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/powell2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/powell3.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/powell4.jpg" alt="" />
      </ion-slide>
      
  
      
  
    </ion-slides>
    
    <ion-card-header>
      <ion-card-subtitle>Arizona's Best Camping</ion-card-subtitle>
      <ion-card-title>Lake Powell</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://lakepowell.com/rv-camping/wahweap-rv-campground/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Wahweap RV & Campground - Lake Powell</ion-label>
    </ion-item>
  
    <ion-item href="tel:888-896-3829">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(888) 896-3829</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.lakepowell.com/discover/area-maps/lake-powell-map/')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Map of Lake Powell</ion-label>
    </ion-item>
  
   
    <ion-card-content>
      <p><strong>Your Drive to Lake Powell</strong><br><br>
        We started our excursion in the morning because we knew we were in for a long drive.  Our destination was a dream vacation, living the life of luxury on a house boat in the middle of Lake Powell.  The car was already packed, all that was left was a saying a difficult goodbye to Baxter and Bailey.  With tears still in our eyes, we hopped on the road and set out North towards our paradise.<br><br>
        
        PRO TIP – Be aware of rush hour traffic times as you have to pass through Phoenix to get to Lake Powell.  Take it from experience, there is nothing worse than sitting in an RV in the middle of 8am traffic.<br><br>
        
        The trip was mostly a standard affair, with stops in Phoenix and Flagstaff for gas, but the views really livened up once we reached the mountain.  Be sure to bring your camera gear as there are multiple scenic points where you can pull out and flex your landscape photography muscles.<br><br>
        
        We didn’t camp on campground, but they have Wahweap Campground with full hookups and extra amenities include laundry, general store, free wifi, restrooms, picnic tables, fire rings (many with grills for BBQing).<br><br>
        
        <strong>Your Stay at Lake Powell</strong><br><br>
        Instead of taking the camper, we opted to rent house boat and live on the lake for 4 days.  When I say house boat, I need to emphasize the house: There were 4 large bedrooms each with a queen-sized bed, 2 luxurious bathrooms complete with modern walk-in showers.  The designers spared no expense.<br><br>
        
        In fact, there is a broad spectrum of house boats available on Lake Powell.  From basic to luxury, you’ll find all the comforts of home. Prepare meals in your full size kitchen with granite countertops and stainless steel appliances.  Kick back in the spacious living room or head to the upper decks for the definition of luxury.<br><br>
        
        Every house boat is a little different, some have hot tubs, some have full bar with bar stools.  Pretty much all of them have an adventurous water slide to go from upper deck to lake.  We didn’t partake this time as the water was freezing, but we whole-heartedly endorse the fun sentiment.<br><br>
        
        <strong>When Should You Go To Lake Powell?</strong><br><br>
        The answer to that question really depends on what you’d like to accomplish.  For us, relaxation and escape were the main reasons for our excursion, so the first week in November, when we went, turned out to be perfect.  It was colder, but we had the entire lake to ourselves and our stay was peaceful and tranquil.<br><br>
        
        Another added benefit was hiking in the colder weather.  With the cooler 55 degree air, all of our hikes were much more comfortable.  We were able to get into remote locations for some of the spectacular photography on this very page, all without anyone getting in the way. It was the perfect retreat for a photographer!<br><br>
        
        PRO TIP – If you want your choice of boat, be sure to book by October because they will dock the fleet for winter.  As of November, only 3 boats are allowed to go out.<br><br>
        
        During the summer season would be great for a family vacation.  The boats hold 12 people max and I imagine a scenario where 4 couples could split the cost. The lake will be packed during summer, with lots of kids learning to waterski and  playing games.  I highly recommend the peaceful trip.<br><br>
        
        PRO TIP – Be sure to rent a speedboat to tow with your houseboat because you can dock the houseboat and beach then take the speedboat up rivers and see all the canyons.  The speedboat allows you to go more places and move 5 times faster.  Plus, the house boat has a gas station that carries 100 gallons to keep you fueled up!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
