<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Rene Valdez - Holmes Tuttle Ford</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    
    <ion-slides pager="true">
      
      <ion-slide>
        <img src="/assets/rene1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/holmes.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/rene.jpg" alt="" />
      </ion-slide>
      
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Best Car Dealer in Tucson</ion-card-subtitle>
      <ion-card-title>Rene Valdez - Holmes Tuttle Ford</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('mailto:rvaldez@htford.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Rene Valdez - Holmes Tuttle Ford</ion-label>
    </ion-item>
  
    <ion-item href="tel:650-580-8562">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(650) 580-8562</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//holmes+tuttle+ford+auto+mall/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d67393d3c88bd5:0xbc90eee996e617d8?sa=X&ved=2ahUKEwjWusGtttDtAhVaPn0KHWz5CX4Q9RcwIHoECDcQBA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>660 W Auto Mall Dr, Tucson, AZ 85705</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1RXQR_enUS927US927&sxsrf=ALeKk02ITKZB4IFsRZwKxbEn01GLxDQC5A%3A1608050312626&ei=iObYX5baJcrB0PEP-_KTsAE&q=holmes+tuttle+ford+auto+mall&oq=holmes+tuttle+ford+auto+mall&gs_lcp=CgZwc3ktYWIQAzIOCC4QxwEQrwEQyQMQkwIyAggmMgIIJjoECAAQRzoICC4QxwEQrwE6AggAOgYIABAWEB5Q5QtYwBRg8RVoAHACeACAAa8BiAGQCpIBBDAuMTCYAQCgAQGqAQdnd3Mtd2l6yAEIwAEB&sclient=psy-ab&ved=0ahUKEwiWvqidttDtAhXKIDQIHXv5BBYQ4dUDCA0&uact=5#lrd=0x86d67393d3c88bd5:0xbc90eee996e617d8,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/holmes-tuttle-ford-lincoln-tucson-2')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_2@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>Our recent search for a truck was not as easy as we thought it would be.<br><br>

        We started out calling the first dealership around 4 pm to ask them about a Ford F250 we saw on their website. “Yes, it’s available” said the salesman. “Great, please hold it for us, we will be there in the morning to buy it”. We sent them a text at 8 am the next day, “Happy Thursday, we are on our way”. “Great, we are ready for you,” said the salesman. On our way to the dealership, we received a text that said: We just sold the truck.<br><br>
        
        Not the customer service that we were used to. We purchased the last 14 vehicles with Raymond at Jim Click. He retired last year. He always held cars for us until we arrived.<br><br>
        
        So, back to website searching. We found another truck and a chat box. Somehow, we got very lucky. We filled out a form and Rene called.<br><br>
        
        We discussed our wants and needs and he listened. Rene was great in helping us decide what we really needed on the truck and what we did not.<br><br>
        
        So, Rene went on the hunt. In a very competitive market, many of the trucks we wanted were not in town. Other dealerships were not so anxious to give up their inventory. This made it very difficult to get the truck we wanted. Rene really took us under his wing and researched to find 4 trucks matching our needs.<br><br>
        
        Finally, he secured the perfect truck and he personally drove 2 hours to pick it up in Buckeye and 2 hours to drive it back to Tucson. He then scheduled with us to manage the paperwork and he personally delivered the truck to our home. He also scheduled a time with us to come back to our house, go over the entire truck, set up the Wi-Fi and the corresponding app on our phones.<br><br>
        
        This level of service is superlative to what we found anywhere else. Rene is a gem!<br><br>
        
        If you need any type of vehicle, call Rene first. He can pull all of the Jim Click and Holmes Tuttle Ford inventory and apparently other dealers as well. Tell him that Darren and Tony Ray referred you.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
