<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/real-estate-services"></ion-back-button>
    </ion-button>
    <ion-title>Fidelity Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    
    <ion-slides pager="true">

      <ion-slide>
        <img src="/assets/fidelity-tina.jpg" alt="" />
      </ion-slide>
  
      <ion-slide>
        <img src="/assets/fidelity.jpg" alt="" />
      </ion-slide>
  
      
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Home Title</ion-card-subtitle>
      <ion-card-title>Fidelity National Title Agency, Inc.</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://southernaz.fntic.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Fidelity National Title Agency, Inc.</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-837-0180">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 837-0180</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//1745+E+River+Rd+%23145,+Tucson,+AZ+85718/@32.2886082,-110.9480556,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x86d672343eadc4dd:0x94987435e6a6c717!2m2!1d-110.9458669!2d32.2886082!3e0')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>1745 E River Rd, Ste 145 Tucson, Arizona</ion-label>
    </ion-item>
    <ion-card-content>
      <p>So, I was introduced to Tina from Fidelity National Title by one of my favorite real estate agents, Lucy, circa 2005.  At the time, Tina had a reputation for being one of the best title/escrow officers in town and since Lucy referred her I certainly did not argue.<br><br>

        Tina has since, always lived up to that reputation. She is one of the top professionals in her field.  We work with a lot of different title/escrow people when we represent sellers.  It is very rare that any of them come close to the service, care, or knowledge that Tina brings to the table.<br><br>
        
        Knowing that she is handling our buyers' files makes our lives so much easier.  Also, If you ever need title or escrow services, call her and tell her that Darren and Tony Ray referred you.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>We Are a Team of Experienced Insurance & Escrow Professionals. “Let Fidelity offer you the price, service, and reliability you expect from a leader in the title insurance industry".
    
    </p>
    </ion-card-content>
    
  </ion-card>

</ion-content>
