<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Mason Raul Flores & Raul Flores Jr.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-slides pager="true">
      
      <ion-slide>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/oHNC2mnrAqw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-slide>
      <ion-slide>
        <img src="/assets/mason.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Masonry</ion-card-subtitle>
      <ion-card-title>Mason Raul Flores & Raul Flores Jr.</ion-card-title>
    </ion-card-header>
    
  
    <ion-item href="tel:520-867-9170">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 867-9170</ion-label>
    </ion-item>
    
    <ion-card-content>
      <p>One of the contractors who helped us build our Ramada referred Mason Raul Flores to us.<br><br>

        I wish I could remember who it was, we owe them a big thank you. Raul did the concrete block posts for the cedar Ramada to sit on.<br><br>
        
        Then he came back and faced the pillars with the stone that we ordered from Turkey.<br><br>
        
        He is a supervisor of a large company during the week and he and his son Raul Jr. do masonry on evenings and weekends. They do more in the summer typically as there is more daylight after he gets off work.<br><br>

        Communicating with Raul:<br><br>

They showed up when they said they were going to show up and returned my text messages when I had a question. The price he quoted is upfront was the price he charged us in the end and there were no hidden surprises.<br><br>

The Quality of Their Work:<br><br>

The pillars were spot on. From the original concrete block pillars to the beautiful stone facing. They were meticulous. They did an amazing job as you can see by the pictures on this page.<br><br>

If you need a block wall, a tile faced fireplace, outdoor fireplace, tile floors, drywall or anything to do with masonry, call Raul and tell him that Darren and Tony Ray referred you.
      
      Tony Ray :)</p>
    </ion-card-content>
      
    
  </ion-card>
</ion-content>
