<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/hikes"></ion-back-button>
    </ion-button>
    <ion-title>Hikes at Tumamoc Hill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/hill.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tucson's Best Hikes</ion-card-subtitle>
      <ion-card-title>Hikes at Tumamoc Hill</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.tucsontopia.com/tumamoc-hill/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Hikes at Tumamoc Hill</ion-label>
    </ion-item>
  
    
    <ion-card-content>
      <p><strong>Tumamoc Hill</strong><br><br>

        Whether it’s a hike, stroll through nature, or tough workout you are looking for, Tumamoc Hill is a wonderful place that can offer that and so much more.<br><br>
        
        Located just West of “A” Mountain and across the street from St. Mary’s Hospital, Tumamoc Hill provides a unique hiking experience you will want to repeat over and over again! Tumamoc Hill is a 3.1 mile round trip hike with an elevation gain of 730 feet. So it is a little on the steep side. The trail is a paved fire access road so the walk is level and you won’t have to worry about stepping in a hole or tripping over a rock on the way up and down. You can make your hike up and down Tumamoc Hill as easy or difficult as you want.<br><br>
        
        If you are looking to burn some serious calories you can join those running along the trail. If you are looking for a real leg workout try pushing a stroller with the kiddos up to the top. Along the way enjoy the desert scenery and wildlife. Since its a preserve used by the University of Arizona for research you will have to leave your dogs at home. Used as an environmental research area since 1906, the buildings on the site have been designated as a United States National Historic Landmark. There is even a 2,300 year old ruined village atop Tumamoc Hill that provides a record of two millennia of humans living in the Tucson area! Once at the top you will be rewarded with a beautiful view of Tucson and the surrounding mountains. Be sure to take a camera!<br><br>
        
        <strong>Things to Know</strong><br><br>
        
        Because Tumamoc Hill is a working research facility there are some restrictions on when the hill can be accessed. The trail is open in the early mornings and evenings during the week and all day on the weekends. Be sure to bring water with you, but there is a drinking fountain and a portable facility about halfway up the trail just in case you run out of water. There is parking available along the road East and West of the trailhead. Be sure not to leave valuables in your vehicle. Don’t miss this Tucson treasure; enjoy some time in nature that is right at your doorstep on Tumamoc Hill.<br><br>
        
        <strong>Out Darren and Tony Ray's AirBNB Located Near Tumamoc Hill!</strong> <br><br>
        
        Retro modern, recently remodeled home sitting on a hill overlooking Tucson with Amazing city and mountain views! Located near Tumamoc Hill, other hiking and biking trails, local markets, retail shops and amazing food.</p>
    </ion-card-content>
    <ion-button (click)="openWithSystemBrowser('https://tinyurl.com/rbtmuy6u')" expand="block">
      Visit Darren and Tony Ray's AirBNB
    </ion-button>
    
    
  </ion-card>
</ion-content>
