<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Fun Groups</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/groups/knights">
          <img src="/assets/kov.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Knights of the Vine</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/groups/pet">
          <img src="/assets/pet-partners.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Pet Partners of Tucson</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
    
     
    
     
     
     
    
     
  </ion-grid>


  
  
 
</ion-content>
