<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/restaurants"></ion-back-button>
    </ion-button>
    <ion-title>Best Mexican Restaurants</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/mexican-restaurants/calle">
          <img src="/assets/calle-tepa.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Calle Tepa</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     
      
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/mexican-restaurants/minuto">
          <img src="/assets/minuto.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >El Minuto</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/mexican-restaurants/penca">
          <img src="/assets/penca2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Penca</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/mexican-restaurants/penca" style="visibility: hidden;">
          <img src="/assets/penca2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Penca</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     
    
     
  </ion-grid>


  
</ion-content>
