<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2" ></ion-back-button>
    </ion-button>
    <ion-title>
     Outdoor Things To Do
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/active">
          <img src="/assets/air.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Active Things To Do</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/camping">
          <img src="/assets/roosevelt.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Camping</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/gardens">
          <img src="/assets/botanical.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson's Best Gardens</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/hikes">
          <img src="/assets/madera.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Best Hikes</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/reid-park">
          <img src="/assets/zoo.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Reid Park Things To Do</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/tours">
          <img src="/assets/bike.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson's Best Tours</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/wildflower-spotting">
          <img src="/assets/catalina.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Wildflower Spotting</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        
      </ion-col>
     </ion-row>
     
    
     
  </ion-grid>
  
</ion-content>

