<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Budget Pest Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/budget.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Exterminators</ion-card-subtitle>
      <ion-card-title>Budget Pest Control</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('http://budgetpestcontrolaz.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Budget Pest Control</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-290-8010">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 290-8010</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk00KmLVZ-LdVS9zKtRysC1wJvov0yQ%3A1598977195803&ei=q3ROX7bRMJfr-gTBs7vwBQ&q=budget+pest+control+google+reviews&oq=budget+pest++google+reviews&gs_lcp=CgZwc3ktYWIQAxgAMgYIABAHEB46AggAUNbWBlim5AZg2-0GaABwAHgAgAFuiAG1CZIBAzQuOJgBAKABAaoBB2d3cy13aXrAAQE&sclient=psy-ab#lrd=0x86d66f1043977f55:0xa003300b6ebe3b96,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/budget-pest-control-tucson')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_3_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    
    <ion-card-content>
      <p>I've had the pleasure of working with Brian at Budget Pest Control for approximately 20 years. I've always appreciated how thorough and honest he is when doing our termite and wood destroying organism inspections.<br><br>

        Budget also offers monthly pest control at a very reasonable price, without requiring you to sign a contract. This provides flexibility to utilize his services on an as needed basis.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Budget Pest Control is a locally owned company. We have been servicing Arizona since 1997. At Budget, we believe in better service through science and technology. We use professional pest control products and techniques to solve your pest problems.<br><br>

      We service both commercial and residential properties.
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
