<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/wildflower-spotting"></ion-back-button>
    </ion-button>
    <ion-title>Catalina State Park</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <img src="/assets/catalina.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tucson's Best Wildflowers</ion-card-subtitle>
      <ion-card-title>Catalina State Park</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://azstateparks.com/catalina')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Catalina State Park</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-628-5798">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 628-5798</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//catalina+state+park+tucson/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d60df44565d3d3:0xeb57fc0f9511749f?sa=X&ved=2ahUKEwi8huP36NvnAhUzPn0KHZ1PCd8Q9RcwIHoECBgQEA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>11570 N Oracle Rd, Tucson, AZ 85737</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk002rEbvlcz6MD9xpJnSZFZ86WMoOg%3A1599493857554&ei=4VZWX76vId200PEPwbm-8AM&q=catalina+state+park+tucson+google+reviews&oq=catalina+state+park+tucson+google+reviews&gs_lcp=CgZwc3ktYWIQAzoICAAQCBAHEB46BAghEApQjvwNWJuXDmDlmA5oAnAAeACAAX2IAY4QkgEEMTQuN5gBAKABAaoBB2d3cy13aXrAAQE&sclient=psy-ab&ved=0ahUKEwj-o8z5stfrAhVdGjQIHcGcDz4Q4dUDCA0&uact=5#lrd=0x86d60df44565d3d3:0xeb57fc0f9511749f,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/catalina-state-park-tucson-2')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    
    <ion-card-content>
      <p>Because of the higher elevations (3,000 feet), the cooler temperatures of Catalina State Park provide us with a slightly later wildflower season. Purple lupines and golden Mexican poppies grace the trails in late March and early April. You’ll be sure to love this place.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
