<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/indoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Shopping</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/shopping/historic">
          <img src="/assets/4th.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Historic Forth Avenue</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/shopping/main">
          <img src="/assets/gate.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Main Gate Square</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/shopping/mercado">
          <img src="/assets/mercado.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Mercado</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/shopping/old">
          <img src="/assets/town.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Old Town Artisans</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
    
     
     
     
    
     
  </ion-grid>

  
  
  
  
  
  
 

  
</ion-content>
