<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/personal-services"></ion-back-button>
    </ion-button>
    <ion-title>Rita Ranch Dental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/rita-ranch.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Dental Specialists</ion-card-subtitle>
      <ion-card-title>Rita Ranch Dental Group and Orthodontics</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.ritaranchdentalgroup.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Rita Ranch Dental Group</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-663-4089">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 663-4089</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//rita+ranch+dental/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d66117b5c7e509:0x1ffb95edb1487fb8?sa=X&ved=2ahUKEwj4xeD8hIvmAhUJs54KHbcNDlsQ9RcwF3oECBQQEA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>8160 S Houghton Rd Ste 130, Tucson, AZ 85747</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk02qycmSzBTrUnbFGvK17Kr8U_lskw%3A1598980842985&ei=6oJOX__NO5CE-gS__IKICA&q=rita+ranch+dental+google+reviews&oq=rita+ranch+dental+google+reviews&gs_lcp=CgZwc3ktYWIQAzIFCAAQzQIyBQgAEM0COgYIABAHEB46CAgAEAcQChAeOgoIABAIEAcQChAeOggIABAHEAUQHjoECCEQClCNnARYs7MEYL7ABGgBcAB4AIAB8wGIAagPkgEGNy4xMC4xmAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab&ved=0ahUKEwj_6pfpu8jrAhUQgp4KHT--AIEQ4dUDCA0&uact=5#lrd=0x86d66117b5c7e509:0x1ffb95edb1487fb8,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/rita-ranch-dental-group-and-orthodontics-tucson-2')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_3@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>My family has been with Rita Ranch Dental for over 30 years. For so many years, I would go into the
        office and they would cover me in a giant lead bib and put hard little x-ray squares in my mouth and
        make me bite down and not move and then do it again and again!<br><br>

        I always felt nervous that the technician would run from the room for each picture.  $250.00! For obvious
          life threatening painful pics of my teeth! Really?<br><br>

          Then, one magical day, David called me about buying a home. As I got to know him, I found out that there
          was new technology available in the dental realm. I went to the office and I was amazed.<br><br>

          David's really nice dental assistant walked me into a room and told me to stand still. A machine quickly
          moved around my head and poof; x-rays were done. To my surprise, painless x-rays are a real thing. Way
          less money.<br><br>

          I love Rita dental. Everything about it is awesome. Great staff, the latest technology and very good
          prices. Tell them Darren and Tony Ray sent you.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Our friendly and knowledgeable staff in Tucson is committed to meeting your needs as a patient with
      comprehensive care using advanced, proven technology. Modern equipment helps make us one of the most
      technologically advanced offices in the area.<br><br>
    
      It enables us to be faster, less invasive, and more efficient while offering the highest level of dental
      care at an affordable cost to you. We are proud to offer general and specialty services! We also offer
      select Saturday and Sundays! Please call the office for further details.
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
