<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>
     Indoor Things To Do
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  
  
  
  
  

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/movies">
          <img src="/assets/room.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Best Movie Locations</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/museums">
          <img src="/assets/contemporary.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Best Museums</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/shopping">
          <img src="/assets/town.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Best Shopping</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/spas">
          <img src="/assets/solai.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Best Spas</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     
    
     
  </ion-grid>
  
</ion-content>

