<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Children’s Playground</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/play.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Children’s Playground Facilities</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://reidparkzoo.org/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Children’s Playground Facilities</ion-label>
    </ion-item>
  
    
    <ion-card-content>
      <p>Whether your little ones like to swing, climb, slide or just dangle, they will have a blast in the playground area at Reid Park. There’s a motion cruiser, rope climber, even drinking fountains for the pets. The ground is covered with softwood chips, ensuring a safe, fun time. It has been voted Best Playground 14 out of 18 years. There are two playgrounds. One is geared towards the little ones, aged 2-5 years old. The second is for older kiddies, from 5 – 12. Both playgrounds are ADA-accessible.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
