<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Window Covering Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-slides pager="true">
      
      <ion-slide>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/nDMP8v3Sd24" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-slide>
      <ion-slide>
        <img src="/assets/window.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Blinds and Shades</ion-card-subtitle>
      <ion-card-title>The Window Covering Company</ion-card-title>
    </ion-card-header>
    
  
    
   <ion-item (click)="openWithSystemBrowser('https://www.windowcoveringcoaz.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>The Window Covering Company</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-326-4648">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 326-4648</ion-label>
    </ion-item>
    
    <ion-card-content>
      <p>Jodi Hinkel:  I’m thrilled to be out on location at one of the installations for The Window Covering Company.  I am with the owner, Del DeLorenzo.  Thanks for being on the show.<br><br>
        Del DeLorenzo: Thank you, Jodi.<br><br>
        Jodi: You just installed these beautiful blinds.  Can you tell us more about it?<br><br>
        Del: Yes.  This is called the Solaris Shade from Hunter Douglas.  I like to think of it as a cross between a Duette shade and a Roman shade.  What’s really nice about it is it comes in a lot of different fabric styles and color options.  There are also several different options of the head rails to choose from.
        Let me show you how this particular head rail system operates.  It is what we call a top-down / bottom-up system.  It allows you to use the shade in both directions.  You can raise it up like a standard shade, or you can lower the top down.  It gives you complete light control and privacy options.  These particular windows go all the way to the floor.  They have a little dog that’s going to be living here, and he’s going to want to peek out the window.  So, what’s really cool about this shade is they’ll be able to raise it up from the bottom, so he can have his view as well.<br><br>
        Jodi:  Any they will have the view from the top, while providing privacy in the middle.  It gives the owner a lot of flexibility.  Are you seeing these applications in all parts of the home?<br><br>
        Del:  It’s perfect for any room.  Family rooms, living rooms, bedrooms, etc.  They come in opaque and translucent, as well.<br><br>
        Jodi:  The one thing that I noticed is that since you’ve installed them, the temperature has gotten quite comfortable.  The technology from this Hunter Douglas is quite advanced.  It’s beautiful, but also serves a climate purpose.<br><br>
        Del:  They’re great on the insulation of the R-Value.  It’s 99 percent UV protection.  It cuts down on the heating and cooling costs. <br><br>
        Jodi:  You have a mobile showroom, so what is the best way for folks at home to reach you, so they can have you come out to their home?<br><br>
        Del: Call 520-326-4648.  I’ll be more than happy to set up an appointment.<br><br>
        Jodi: You also have a website Https:www.windowcoveringcoaz.com.  Thank you for being on our show.
        
         
        </p>
    </ion-card-content>
      
    
  </ion-card>
</ion-content>
