<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Gardens</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/gardens/botanical">
          <img src="/assets/botanical.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson Botanical Gardens</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/gardens/gethsemane">
          <img src="/assets/felix.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Garden of Gethsemane</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/gardens/tohono">
          <img src="/assets/chul.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tohono Chul Garden</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/gardens/yumi">
          <img src="/assets/yumi.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Yume Japanese Gardens</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
    
     
     
     
    
     
  </ion-grid>




  
  
  
  
  
  
 

  
</ion-content>
