<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Golf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/golf2.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Golf</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>Reid Park Golf offers outstanding course conditions, a friendly and welcoming atmosphere at an exceptional value. Start off with a delicious meal in the restaurant, or just head straight out to the driving range. The range has 50 grass stations. Forget something? No worries. There is a fully-stocked Pro Shop. Enjoy over 10,000 yards of course. It can be a whole day adventure if you finish up with dinner and drinks over-looking the course. If you are more of a recreational golfer, we recommend the South Course with its generous fairways. The North course is more challenging and geared more for the experienced, serious golfer.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
