<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Libations</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/arizona">
          <img src="/assets/collective.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Arizona Wine Collective</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/iguana">
          <img src="/assets/iguana.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Chocolate Iguana</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     
     <ion-row>
      <ion-col>
        
          <ion-card href="tabs/tab2/libations/decibel">
            <img src="/assets/decibel.jpg" alt="" />
            <ion-card-header>
              <ion-card-subtitle>Decibel Coffee</ion-card-subtitle>
              
            </ion-card-header>
            
          </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/flying">
          <img src="/assets/flying.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Flying Leap</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>

     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/hifi">
          <img src="/assets/hifi.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Hi Fi</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/luce">
          <img src="/assets/luce.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Caffe Luce</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/omalley">
          <img src="/assets/wings.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >O’Malley’s</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/playground">
          <img src="/assets/playground.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Playground</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/presta">
          <img src="/assets/presta.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Presta Coffee</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/sage">
          <img src="/assets/sage.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Raging Sage</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/sand">
          <img src="/assets/sand.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Sand Reckoner</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/savaya">
          <img src="/assets/savaya.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Savaya Coffee</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/scott">
          <img src="/assets/scott.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Scott & Company</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/sidecar">
          <img src="/assets/charro-del-rey.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Sidecar</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/libations/tough">
          <img src="/assets/tough.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tough Luck Club</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/libations/trident">
          <img src="/assets/trident.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Trident</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
        
      </ion-col>
     </ion-row>
     
     
  </ion-grid>

  
</ion-content>
