<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Frost RV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides pager="true">
      
      
      <ion-slide>
        <img src="/assets/frost1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/frost2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/frost3.jpg" alt="" />
      </ion-slide>
      
  
      
  
    </ion-slides>
    
    <ion-card-header>
      <ion-card-subtitle>RV Dealer and Sales</ion-card-subtitle>
      <ion-card-title>Frost RV</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.frostrv.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Frost RV</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-408-5000">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 408-5000</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//frost+rv/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d67387325b55bb:0x743fda58fb0f5d37?sa=X&ved=2ahUKEwjKsNKr3svvAhUjLX0KHQ1aAzIQ9RcwIHoECD4QBQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>5101 N La Cañada Dr, Tucson, AZ 85704</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?q=frost+rv&oq=frost+rv&aqs=chrome..69i57j0j69i60.1286j0j7&sourceid=chrome&ie=UTF-8#lrd=0x86d67387325b55bb:0x743fda58fb0f5d37,1,,,')">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/frost-rv-tucson')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_5@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>We love our lil red and white retro trailer (pictured right). It’s a head-turner and we get positive comments wherever we go. But after 10 camping trips with Darren and I and two large puppies, we decided we needed a bit more living space. The trouble was finding a trustworthy and reputable RV dealer to help us find our dream recreational vehicle.<br><br>

        Thus we began our long search. Darren and I researched different websites and filled out an endless number of contact forms requesting information. Only one company was consistently prompt in replying to questions and really went out of their way to get us the information we needed. That company was Frost RV. So we headed over to River and La Canada to check them out!<br><br>
        
        From the first moment we arrived, we knew we were in the right place. The sales and support staff were kind and treated us with respect. They showed us only the models we wanted to see and didn’t waste our time selling us on anything we didn’t want. They stayed with us for over an hour as we toured their lot and even kept the business open after-hours to accommodate us! Unfortunately, we weren’t quite sold on anything we saw. We headed home and continued our search.<br><br>

        <b>Enter The Dutchman</b>

        While at Frost RV, one of the brands that really caught our eye was Dutchman. We decided to look at the manufacturer website to see if there was anything we missed. Lo and behold, the Dutchman Astoria jumped off the computer screen and we knew we had to have it!<br><br>

        We called up Frost RV and asked if they had that model, which they did, we just happened to miss it on our first tour. In fact, Frost RV is the only dealer in the area that carries Dutchman! (which is a very highly rated brand that offers a great warranty and excellent customer service) How lucky for us that the one place that had exactly what we wanted also had the best service!<br><br>

        <b>Who DO I Talk to at Frost RV?</b>
        
        I recommend that you try to get Chris and Mike, the two salesman that helped Darren and I. For financing, your will want to talk to Julian. They were very responsive to questions and would research before providing detailed answers. Furthermore, they helped us find the exact upgrades we needed to create the lifestyle we wanted. (extra batteries and solar, woo hoo!) We also got a glorious clear coat that makes the paint virtually impervious to fading, saving us a huge maintenance waxing expense!<br><br>

        The last thing that really made the experience awesome for us was their RV School thay they enrolled us in. This 2-hour class with Nick and Gordon went over every nook and cranny of the RV and we learned to use all of the different features. We were able to ask any lingering questions and they made sure we were very confident as we pulled of out their driveway.<br><br>

        I have many more positive things to say about Frost RV. If you like to get outdoors and are looking for the perfect vehicle to take you there, look no further than Frost RV for exceptional products and fantastic service!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>

</ion-content>
