<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Swimming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/swim.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Swimming – Edith Ball Adaptive Recreation Center</ion-card-title>
    </ion-card-header>
    
  
    <ion-item href="tel:480-791-5643">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(480) 791-5643</ion-label>
    </ion-item>
    
    <ion-card-content>
      <p>The Edith Ball Adaptive Recreation Center (ARC) is an award-winning facility that offers a unique experience for all.  The outdoor, covered Recreation Pool offers a variety of fitness classes, lap swim, and open swim times to enjoy the walking channel and play features in the zero-depth area.  The indoor, warm water Therapy Pool provides individuals with disabilities an opportunity to experience benefits including increased range of motion and flexibility, relief of pain due to arthritis or other conditions, and overall relaxation.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
