<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Duck Pond</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/duck.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Reid Park Duck Pond</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>Not a hiker, but would like to take a nice, leisurely stroll? Then head over to the Reid Park Duck Pond. You’ll see endless ducks, turtles, geese and more. There are beautiful water features and tall, mature trees for shade. There is a walking path around the pond that is sprinkled with artwork beautiful fragrant flowers.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
