<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Lavish Metal Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-slides pager="true">
      
      <ion-slide>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/IEhHv0M_lq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-slide>
      <ion-slide>
        <img src="/assets/lavish.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Decorative Iron</ion-card-subtitle>
      <ion-card-title>Lavish Metal Works</ion-card-title>
    </ion-card-header>
    
  
    
   <ion-item (click)="openWithSystemBrowser('https://www.lavishmetalworks.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Lavish Metal Works</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-474-1169">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 474-1169</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//lavish+metal+works+tucson+wes/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d67bdd70f4c175:0xb5b7da7b6facfa91?sa=X&ved=2ahUKEwi0rsvRxb3pAhUKuZ4KHe4YD4QQ9RcwHnoECBYQEg')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>3114 E District St, Tucson, AZ 85714</ion-label>
    </ion-item>
    <ion-card-content>
      <p>Tony Ray Baker:  Wes, please tell us how long you’ve been doing this?<br><br>
        Wes Boswood:  Since I was 18, so that would be 12 years, now.<br><br>
        Tony Ray Baker:  How did you get into welding?  What inspired you?  What was the push?<br><br>
        Wes Boswood:  My Dad.  He’s been doing ironworks his entire life. <br><br> 
        Tony Ray Baker:  You just knew it was destiny.  You loved it?<br><br>
        Wes Boswood:  I hated it at first!  Then I got into the “artsy” part of it and I really enjoy that.<br><br>
        Tony Ray Baker:  So how did you get into gates, versus something else?<br><br>
        Wes Boswood:  My Dad did structural steel and I just felt it was boring, because it was so repetitive.  I just started taking on the art side of it.  I took a liking to it right away.<br><br>
        Tony Ray Baker:  Do you do other things besides gates?  I dying to have you do a mailbox!<br><br>
        Wes Boswood:  Yeah.  I do mailboxes, patio coverings, etc<br><br>
        Tony Ray Baker:  Well, we want you to do a mailbox to match these beautiful gates.  Absolutely.  If I send somebody to you, and they tell you that Tony Ray referred you, would you take good care of them?  <br><br>
        Wes Boswood:  Absolutely.  Just have them call my number and tell me that it was a Tony Ray referral. 
         <br><br>
         
        </p>
    </ion-card-content>
      
    
  </ion-card>
</ion-content>
