<ion-header>
  
  <ion-toolbar>
    
    <ion-title>
      Contact Us Now
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/groupPic.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle style="font-size:14px;">Marta, Darren & Tony Ray 's</ion-card-subtitle>
        <ion-card-title>5-Star Referral Network</ion-card-title>
      </ion-card-header>
      <ion-menu-toggle><ion-button expand="block">
        Contact Us Now
      </ion-button></ion-menu-toggle>
      <ion-card-content>
        <p>Everyday we are asked for referrals to local services in Tucson. Referrals to the people we trust wholeheartedly and have a proven track record of great customer service.   <br><br>
          While we love talking to you in person, we also know that it may not always fit your schedule.  If that is the case, please use this wonderful app to find out more about all of our favorite restaurants, things to do, and services available. <br><br>
          If you still have any questions or didn't find what or who you are looking for, simply click the "Contact Us Now" button below to get a hold of each of us. We would love to talk with you.<br><br>
          PS We are updating this 'lil black book" of info every week so make sure your app is updated.  If you know of someone that we should be referring, please contact us with their info. Also, no one is allowed to pay to be on this app : )</p>
      </ion-card-content>
    </ion-card>
    
    
</ion-content>