<ion-header>
  
  <ion-toolbar>
    
    <ion-title>
      Darren & Tony Ray
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logoRectStar.png" alt="" style="width:54%; margin:20px auto 0;" />
      <ion-card-header>
        <ion-card-subtitle style="font-size:14px;">Darren & Tony Ray's</ion-card-subtitle>
        <ion-card-title>5-Star Referral Network</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>People ask me all the time for referrals to trusted services in Tucson.  While I love talking to each and every one of you, I know you might not have the time to chat with me.  If that's the case, use this wonderful App to view all of my favorite places and services in Tucson.  If you still have any questions, simply click the call button below to get ahold of me right now!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Where To Next?</ion-label>
      </ion-list-header>
      <ion-item href="tabs/tab2" color="primary">
        <ion-icon slot="start" color="light" name="people"></ion-icon>
        <ion-label>People We Know & You Can Trust</ion-label>
      </ion-item>
      <ion-menu-toggle><ion-item>
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Contact Us Now!</ion-label>
      </ion-item></ion-menu-toggle>
    </ion-list>
    
</ion-content>