<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/real-estate-services"></ion-back-button>
    </ion-button>
    <ion-title>Altitude Home Loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
   

     
    <img src="/assets/phaedra.jpg" alt="" />
 

 
  

  

<ion-card-header>
  <ion-card-subtitle>Home Mortgage</ion-card-subtitle>
  <ion-card-title>Phaedra Wilson - Altitude Home Loans</ion-card-title>
</ion-card-header>
<ion-item (click)="openWithSystemBrowser('https://altitudehomeloans.com/phaedra-wilson/')">
  <ion-icon name="globe" slot="start"></ion-icon>
  <ion-label>Phaedra Wilson - Altitude Home Loans</ion-label>
</ion-item>

<ion-item href="tel:520-617-2925">
  <ion-icon name="call" slot="start"></ion-icon>
  <ion-label>(520) 617-2925</ion-label>
</ion-item>
<ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//1885+N+Kolb+Rd,+Tucson,+AZ+85715/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d66f028ee2b5d9:0x83f3092ab06d7633?sa=X&ved=2ahUKEwiK67ehqOjpAhVBIDQIHQkOCvAQwwUwAHoECBUQAw')">
  <ion-icon name="navigate" slot="start"></ion-icon>
  <ion-label>1885 N Kolb Rd Tucson, AZ 85715</ion-label>
</ion-item>
<ion-card-content>
  <p>A native Tucsonan, Phaedra majored in Sociology at the University of Arizona and graduated with a Bachelor of Arts degree.<br><br>

    Entering the lending sector in 1987, Phaedra has worked in many aspects of the mortgage arena. “As an assistant, then processor, each one was an important step that has brought me to where I am today.” She goes on to add, “It is my vast experience and the knowledge I gained in the mortgage industry that enables me to ensure that my clients understand, and are secure in the decisions they make.”<br><br>
    
    Phaedra is modest about her capacity to listen to her clients and discern their many needs. “I am an active listener,” she says, “and I believe my clients appreciate this and the fact that I allow the time necessary for them to assimilate the vast amount of information I share with them. This in turn permits me to execute their decisions and, ultimately, make the mortgage process work for them.”<br><br>
    
    Phaedra prides herself on the diversity and broad spectrum of the people she has worked with. “I so admire the differences and the unique backgrounds of my clients,” she explains. “Regardless of who they are, I see a part of myself in each of them, and I learn as much from them, as they do from me!” After some contemplation Phaedra adds, “Knowing, that by giving my support and guidance, I will enable my clients to realize their dreams, makes what I do all worthwhile.”<br><br>
    
    It is this open-minded, forthright and warm persona, that has garnered Phaedra such high praise not only from her past clients, but throughout Tucson’s mortgage and real estate circles — a compassionate, capable person, someone you can trust with yourself and your goals, and know that every aspect of the mortgage process will be what it should be and more.<br><br>
  
  Tony Ray :)</p>
</ion-card-content>
<ion-card-header>
<ion-card-title>
<h4>More About This Referral:</h4>
</ion-card-title>
</ion-card-header>
<ion-card-content>
<p>Altitude Home Loans aims to improve the lives of those in our community by exceeding expectations and elevating the real estate experience in Tucson, Arizona. We are dedicated to the success of our agents personally and professionally. Our core values system is centered on honesty, professionalism, integrity, and knowledge. We strive for excellence in every aspect of business. Agents, clients, and community come first.

</p>
</ion-card-content>

</ion-card>

</ion-content>
