<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/restaurants/world-foodie-tour"></ion-back-button>
    </ion-button>
    <ion-title>Noodleholics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    
    <ion-slides pager="true">
      
      <ion-slide>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KcJI9ZwYSd4" frameborder="0" allow="autoplay; encrypted-media; " allowfullscreen></iframe>
      </ion-slide>
      <ion-slide>
        <img src="/assets/noodleholics.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/noodleholics1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/noodleholics2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/noodleholics3.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/noodleholics4.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Chinese Restaurant</ion-card-subtitle>
      <ion-card-title>Noodleholics</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://noodleholics.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Noodleholics</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-305-4262">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 305-4262</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//noodleholics/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d671c3a6f8ba49:0xb4fedf1652a0506b?sa=X&ved=2ahUKEwju1bypm9DtAhXiGTQIHYQ0AYoQ9RcwHXoECDUQBQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>3502 E Grant Rd, Tucson, AZ 85716</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?gs_ssp=eJzj4tVP1zc0TM8wTssyyckwYLRSNaiwMEsxMzdMNk40S7NISjSxtDKoSDJJS01JMzQzNUo0MDUwS_LiycvPT8lJzcjPyUwuBgCbuhR-&q=noodleholics&rlz=1C1RXQR_enUS927US927&oq=noodle&aqs=chrome.1.69i59j46i39i175i199j69i57j0i67j46i67i433j0i67j69i60j69i61.2063j0j7&sourceid=chrome&ie=UTF-8#lrd=0x86d671c3a6f8ba49:0xb4fedf1652a0506b,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://yelp.com/biz/noodleholics-tucson-3')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>Noodleholics is one of my favorite noodle places here in Tucson. This Little gem is a family own restaurant where two amazing cultures come together, Korean and Chinese.<br><br>

        Noodlehlics brings us the best of the Guilin region with their rice noodles and their pickled green beans, bamboo, peanuts, and other spices. This dish can be ordered with broth and no broth, you will not be disappointed with either of those, but during winter there is nothing better than their “soups”.<br><br>
        
        You must try their house made wheat noodles. If you go during the weekend make sure you are early, since these noodles are made fresh every day, they tend to run out very fast.<br><br>
        
        But their menu does not end there, they also have small dishes like dumplings, fried wings, veggie rolls and Rice plates. Once you try their food you will understand their name!<br><br>
        
        For beginners I recommend My favorite Noodleholics dish: the Dry Guilin Noodles with crispy pork and Pig intestine. Okay okay, if you are not into that, you have many other choices of meat to choose from. Every noodle dish comes with 2 choices of meats. Oh, and do not forget your side dish of Bok Choy, you will thank me later!<br><br>
        
        Marta<br><br>
        
        Late afternoon snacker or early dinner eaters: Be aware of their hours, they close mid afternoon and reopen later in the afternoon.  They are closed between 3pm and 5pm<br><br>
        
        11am- 3pm and then reopen from 5pm to 9pm.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
