<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/restaurants"></ion-back-button>
    </ion-button>
    <ion-title>World Foodie Tour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/ha-long">
          <img src="/assets/ha-long-bay.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Ha Long Bay</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/indian-twist">
          <img src="/assets/twist2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Indian Twist</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/mamas">
          <img src="/assets/mama2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Mama's Hawaiian</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/noodleholics">
          <img src="/assets/noodleholics.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Noodleholics</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/parish">
          <img src="/assets/parish2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Parish</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/polish">
          <img src="/assets/polish2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Polish Cottage</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/raijin">
          <img src="/assets/Raijin-Ramen.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Raijin Ramen</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/rendezvous">
          <img src="/assets/le2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Le Rendezvous</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/senae">
          <img src="/assets/senae2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Senae Thai Bistro</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/shish">
          <img src="/assets/shish-kebob-house.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Shish Kebab House</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/sushi">
          <img src="/assets/sushi2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Sushi Garden</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/vero">
          <img src="/assets/vero-pizza.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Vero Amore</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/villa">
          <img src="/assets/villa2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Villa Peru</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour/zemams">
          <img src="/assets/zemams.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Zemam's Ethiopian</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
      
     </ion-row>
     
  </ion-grid>



  
  
  
  
 

  
  
  

  


  
  
  
  
  
  
  

   
</ion-content>
