<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Personal Services</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/personal-services/eye">
          <img src="/assets/tucson-eye-physicians.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson Eye Physicians</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/personal-services/presidio">
          <img src="/assets/presidio-hair.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Presidio Hair</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/personal-services/rita">
          <img src="/assets/rita-ranch.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rita Ranch Dental</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/personal-services/rita" style="visibility: hidden;">
          <img src="/assets/rita-ranch.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rita Ranch Dental</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
        
    
     
  </ion-grid>
  
  
  
  
</ion-content>
