<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/client-reviews"></ion-back-button>
    </ion-button>
    <ion-title>Adam & Marta Bustamante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    
    
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/R3CK56ub_Uk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-subtitle>Happy Home-Owners</ion-card-subtitle>
      <ion-card-title>Adam & Marta Bustamante</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p>I love Adam and Marta!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
