<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Amphitheatre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/amphitheater.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Amphitheatre</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>This outdoor theatre is a fantastic music venue. The acoustics are enjoyable. You can hear the entertainment from the stage, while still being able to hear your partner speak. Get there early, because it is a very popular event. A beautiful, cooler evening, sitting back in your chair or beach towel or blanket. There are a few bleachers, but they get swooped up quickly. Listening to a concert, under the beautiful stars of Tucson. It doesn’t get any better than that.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
