<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Active Things To Do In Tucson</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/active/funtastics">
          <img src="/assets/funtasticsNew.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Funtastics</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/active/get">
          <img src="/assets/get-air.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Get Air</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/active/golf">
          <img src="/assets/golf.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Golf N'Stuff</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/active/rocks">
          <img src="/assets/rocks.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Rocks & Ropes</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     
     
    
     
  </ion-grid>


 
 
  
  
  
  
 

  
</ion-content>
