<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Professional Services</ion-title>
    
  </ion-toolbar>
  
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/choice">
          <img src="/assets/choice2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >1st Choice Tax Services</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/caps">
          <img src="/assets/caps.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Caps & More</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/adt">
          <img src="/assets/adt.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >ADT Security</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/american">
          <img src="/assets/american-family.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>American Family Insurance</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/a-pro">
          <img src="/assets/a-pro-new.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >A Pro Restoration</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/arizona-cabinet">
          <img src="/assets/arizona-cabinet.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Arizona Cabinet and Countertops</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/aunt">
          <img src="/assets/auntB.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Aunt B Pet Sitter</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/ben-cardenas">
          <img src="/assets/ben-home-care.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Ben Cardenas Home Care</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/blue-house">
          <img src="/assets/blue-house.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Blue House Catering</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/b-m">
          <img src="/assets/roofing.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >B & M Roofing</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/dakota-plumbing">
          <img src="/assets/dakota-plumbing.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Dakota Plumbing</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/frostrv">
          <img src="/assets/frost1.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Frost RV</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/goldies">
          <img src="/assets/goldies.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Goldies Paint and Repair</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/holmes">
          <img src="/assets/rene1.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rene Valdez - Holmes Tuttle Ford</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/lavish-metal-works">
          <img src="/assets/lavish.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Lavish Metal Works LLC.</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/jack-furrier">
          <img src="/assets/jack-furrier.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Jack Furrier Tire & Auto Care</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/kristine">
          <img src="/assets/kristine.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Kristine Garcia, LPN</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/marchetti">
          <img src="/assets/marchetti.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Marchetti Law, PLLC</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/masonry">
          <img src="/assets/mason.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Mason Raul Flores & Raul Flores Jr.</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/rootsource">
          <img src="/assets/rootSourceLogo.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rootsource Fundraising</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/termagon">
          <img src="/assets/termagon.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Termagon Inc.</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/window">
          <img src="/assets/window.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Window Covering Company</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/zona-concrete">
          <img src="/assets/zona.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Zona Concrete</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/professional-services/zona-concrete" style="display: none;">
          <img src="/assets/zona.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Zona Concrete</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
     
     
     
    
     
  </ion-grid>


  
</ion-content>