<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Reid Park Zoo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/zoo2.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Reid Park Zoo</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://reidparkzoo.org/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Reid Park Zoo</ion-label>
    </ion-item>
  
    
    <ion-card-content>
      <p>The Zoo was founded in 1965. It is filled with a collection of birds, prairie dogs, farm animals, and squirrel monkeys. It’s a 24-acre campus that houses hundreds of animals in naturalistic exhibits. The whole family will enjoy the holiday lights. From Dec 7th to 19th you can enjoy thousands of twinkling lights and displays. If you aren’t around for the holiday’s but want more than just a walk through the zoo, then schedule a Family Behind the Scenes Tour. You will experience the daily lives of our care staff, with a peek at the giraffe barn, the Zoo’s kitchen, a visit with the rhino and an up-close giraffe encounter! Feeling adventurous? How about one of the monthly play days. Disconnect from technology and connect with nature! Lions and tigers and bears not enough? How about when you add flamingos, elephants, and lemurs!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
