<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>B & M Roofing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/roofing.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Roofers</ion-card-subtitle>
      <ion-card-title>B & M Roofing</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('http://www.4allstages.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>B & M Roofing</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-460-5331">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 460-5331</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//b+and+m+roofing/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d6718fdec0402f:0x231297ee7345d42e?sa=X&ved=2ahUKEwj0_5DmnJXnAhXS3J4KHZx8C8AQ9RcwAHoECAIQCQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>3731 E 37th St, Tucson, AZ 85713</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk03fwdDutnOxD6h_vF25EIMcddzolg%3A1598977147152&ei=e3ROX-r1CMvi-gT5rrOwDw&q=B%26M+Roofing+google+reviews&oq=B%26M+Roofing+google+reviews&gs_lcp=CgZwc3ktYWIQAzIFCAAQzQI6BggAEAcQHjoICAAQBxAFEB46BggAEAgQHjoICAAQCBAHEB46BAgAEB5QreACWIvxAmDC8wJoAHAAeACAAXCIAdgIkgEDNi41mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab&ved=0ahUKEwiqn_CGrsjrAhVLsZ4KHXnXDPYQ4dUDCA0&uact=5#lrd=0x86d6718fdec0402f:0x231297ee7345d42e,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/b-and-m-roofing-tucson?osq=B%26M+Roofing')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_3_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>I’ve been in real estate for over 20 years.  I’ve worked with Brett that entire span.  When I met Brett, he was working for another roofing company.  When Brett and his wife, Meme started their own roofing business, B & M Roofing, Darren and I followed them.<br><br>
        They are reliable, use quality, long lasting products and most important, they do what they say they are going to do.  Meme and Brett keep you informed throughout the entire process.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>B & M Roofing is a locally owned and family operated business. We are a Licensed - Bonded & Insured full-service roofing company in the state of Arizona.<br><br>

      We only employ experienced roofers; our expert roof technicians specialize in all Southern Arizona roof systems. B & M Roofing only uses top quality roofing materials on all our projects big or small.<br><br>
      
      Our mission is to provide an exceptional product with professional workmanship at an affordable cost to you. We offer many services in all types of roofing. We also offer systems designed to strengthen and prolong built up roof life expectancy.
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
