<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>
     Tucson's Best Restaurants
    </ion-title>
    
  </ion-toolbar>
  
</ion-header> 
<ion-content>
  
  
  
  
  
  

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining">
          <img src="/assets/downtown-maynards.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Fine Dining</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/mexican-restaurants">
          <img src="/assets/penca2.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson's Best Mexican Restaurants</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
     <ion-row>
      
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/pizza">
          <img src="/assets/empire.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Tucson's Best Pizza</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/world-foodie-tour">
          <img src="/assets/world-foodie-tour.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>World Foodie Tour</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     
    
     
  </ion-grid>
  
</ion-content>
