<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/client-reviews"></ion-back-button>
    </ion-button>
    <ion-title>Chris & Lissa Wallace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/udDJanVSnTc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-subtitle>Happy Home-Owners</ion-card-subtitle>
      <ion-card-title>Chris & Lissa Wallace</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p>Chris and Lissa Wallace Testimonial (Transcribed)<br><br>

        <b>Chris Wallace:</b> We went out looking at houses on a Sunday and had a blast! I’ve gone looking at houses before and it can be a lengthy, frustrating process, and that wasn’t the case. So, he (Tony Ray Baker) had a lot to do with it. It’s almost sad that it’s over so quick because he’s fun to hang out with.<br><br>
        
        <b>Tony Ray Baker:</b> It’s another miracle. And I’m gonna hit done and it’s going to have the whole house floor plan for you.<br><br>
        
        <b>Chris Wallace:</b> Really?<br><br>
        
        <b>Tony Ray Baker:</b> I know! This will be great for you guys to buy furniture.<br><br>
        
        <b>Chris Wallace:</b> We called him just to kind of talk about houses and in less than a week we were looking at houses and then we put an offer in that same weekend! This whole thing came together in 30-45 days, I’m mean, it’s just, a lot faster than expected, which was awesome!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
