<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/restaurants"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Pizza</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/pizza/brooklyn">
          <img src="/assets/brooklyn.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Brooklyn Pizza</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/pizza/empire">
          <img src="/assets/empire.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Empire Pizza</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/pizza/flora">
          <img src="/assets/flora.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Falora</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/pizza/rocco">
          <img src="/assets/rocco.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rocco's</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     
     
    
     
  </ion-grid>





  
  
  
  
  
  

  
</ion-content>
