<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Tours</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/tours/bike">
          <img src="/assets/bike.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Bike Tours</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/tours/jeep">
          <img src="/assets/jeep.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Jeep Tours</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/tours/main">
          <img src="/assets/main.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Main Gate / 4th Avenue Tour</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/tours/tombstone">
          <img src="/assets/tombstone.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Tombstone</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     
    
     
     
     
    
     
  </ion-grid>



  
  
  
  
  
  
 

  
</ion-content>
