<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Corbett Field</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/baseball.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Corbett Field Baseball Stadium</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>This stadium is rich with tradition. Currently, it is home to the University of Arizona Wildcats Baseball Team. This major league caliber facility has large concession stands and ample restrooms. In addition to this stadium, there are also six adult baseball fields with amateur games regularly being played. Come grab a hot dog and a coke and cheer on the Wildcats.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
