<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Kristi Frank - American Family Insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/american-family.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Insurance Services</ion-card-subtitle>
      <ion-card-title>American Family Insurance</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://agent.amfam.com/kristi-frank/az/tucson/4319-e-broadway-blvd/?sourceid=agp0001016389')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Kristi Frank - American Family Insurance</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-323-0017">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 323-0017</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//American+Family+Insurance+-+Kristi+Frank+Agency+Inc,+4319+E+Broadway+Blvd,+Tucson,+AZ+85711/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d66fd854e45127:0x4113ef43823626b8?sa=X&ved=0ahUKEwiL2eXvmpXnAhUjL30KHf4wC4YQ48ADCDAwAA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>4319 E Broadway Blvd, Tucson, AZ 85711</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk035iMMC2y__CZJVoZ4uA63QdvChBA%3A1598976519034&ei=B3JOX6_MAcTB0PEP-dqZ-AE&q=american+family+insurance+kristi+frank+google+reviews&oq=american+family+insurance+kristi+frank+google+reviews&gs_lcp=CgZwc3ktYWIQAzIFCAAQzQI6BAgAEEdQ_RtYyytgui1oAHABeACAAc0BiAG5C5IBBjIuMTAuMZgBAKABAaoBB2d3cy13aXrAAQE&sclient=psy-ab&ved=0ahUKEwjv667bq8jrAhXEIDQIHXltBh8Q4dUDCA0&uact=5#lrd=0x86d66fd854e45127:0x4113ef43823626b8,1,,,')">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/kristi-frank-agency-inc-tucson')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_2@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>I met Kristi at a networking event I was in 1999.  We became friendly and continued to see each other at various social events.  My current insurance was inexpensive and included some hard to get policies.  I had no interest in moving to another company. <br><br>
        One of my clients needed a great insurance agent and they couldn’t get the same insurance as I had, so I referred them to Kristi.  They loved her!  They went on and on about the great customer service they received from her.  They stated that they saved a lot of money and that they actually received extra coverage, thanks to Kristi. <br><br>
        After hearing this over and over, again, I finally decided to have her look at my current policy.  I did it “just for fun”, of course.  Well, I moved my insurance needs to Kristi and American Family Insurance, paying less than before, for MORE coverage.  I learned my lesson.  Don’t assume.  Do your due diligence.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>As your American Family Insurance agent, I can offer you dependable auto, home, business, health and life insurance, as well as other insurance products.<br><br>

      My team is here to serve. Our unique backgrounds, training and experience have prepared us well to help meet your insurance needs.<br><br>
      
      Additionally, as residents of your community, we understand how important it is to be there for you - our trusted friends and neighbors.<br><br>
      
      Together, we're building strong partnerships that help everyone succeed. We're here to help protect you, no matter what your insurance needs.
    
    </p>
    </ion-card-content>
    
  </ion-card>

</ion-content>
