<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Real Estate Services</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/fairway">
          <img src="/assets/fairway-sue-pullen.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Fairway Mortgage</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/fidelity">
          <img src="/assets/fidelity-tina.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Fidelity Title</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/nova">
          <img src="/assets/nova-tom.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >NOVA Home Loans</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/stages">
          <img src="/assets/stages.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >4 All Stages</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/sunstreet" >
          <img src="/assets/phaedra.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Altitude Home Loans</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/real-estate-services/sunstreet" style="visibility:hidden;" >
          <img src="/assets/phaedra.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Business Name Goes Here</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
      
     </ion-row>
     
     
    
     
  </ion-grid>
  
  

  

  
  
  

  

  

  
  

  

  
</ion-content>
