<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/indoor-things-to-do/shopping"></ion-back-button>
    </ion-button>
    <ion-title>Historic Fourth Avenue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/4th.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tucson's Best Shopping</ion-card-subtitle>
      <ion-card-title>Historic Fourth Avenue</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://fourthavenue.org/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Historic Fourth Avenue</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-624-5004">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 624-5004</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/place/N+4th+Ave,+Tucson,+AZ/data=!4m2!3m1!1s0x86d67110f37aa3f9:0x71cdaa549696055b?sa=X&ved=2ahUKEwj1kfvv5tvnAhX7CTQIHVFKA9IQ8gEwAHoECBUQAQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>3233 E Speedway Blvd, Tucson, AZ 85716</ion-label>
    </ion-item>
    
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/university-of-arizona-museum-of-art-tucson')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>With almost 100 shops and restaurants to choose from, Historic Forth Avenue is the perfect place to visit. You will find local artisans, crafts and specialties up and down the avenue.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
