<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Zona Concrete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-slides pager="true">
      
      <ion-slide>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/0dsQ8JvEp08" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-slide>
      <ion-slide>
        <img src="/assets/zona.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Decorative Concrete</ion-card-subtitle>
      <ion-card-title>Zona Concrete</ion-card-title>
    </ion-card-header>
    
  
    
   <ion-item (click)="openWithSystemBrowser('https://zonacrete.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Zona Concrete</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-495-4919">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 495-4919</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//zona+concrete+tucson/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d671352a8d1185:0xbc859a5134e5d65f?sa=X&ved=2ahUKEwil9I6FhInpAhUCu54KHVvzDtIQ9RcwFXoECBsQEw')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>406 S Plumer Ave, Tucson, AZ 85719</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk00Uw7GTC6ZZNReF8SCRWs0m1_-VyA%3A1598980484936&ei=hIFOX7zfOKL59AOn_L74CA&q=zona+concrete+google+reviews&oq=zona+concrete+google+reviews&gs_lcp=CgZwc3ktYWIQAzoGCAAQBxAeOggIABAIEAcQHjoICAAQBxAFEB46CggAEAcQBRAKEB5Qr3VYw4UBYJGJAWgAcAB4AIABdYgBtQqSAQM1LjiYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwi8sbq-usjrAhWiPH0KHSe-D48Q4dUDCA0&uact=5#lrd=0x86d671352a8d1185:0xbc859a5134e5d65f,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://yelp.com/biz/zona-decorative-concrete-and-construction-tucson?osq=zona+concrete')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>Darren Jones:  I’m here with Mac Hicks.  He is the owner of Zona Concrete.  So, Mac, why don’t you tell us how you got into concrete.<br><br>
        Mac:  Actually, I was born into the trade, working for my Grandfather during the summer.  I started when I was 14 as a laborer.  It was a family business, so I grew up in that business almost 30 years ago.  I’m a licensed contractor.  I’ve been in business for myself for ten years now.  I’m a third-generation concrete contractor.  It has become my passion.  It’s an art outlet, as I tell my clients.  I can’t sing a song or draw a picture.  I can’t play any musical instruments.  Concrete gives me a creative aspect.  It is my passion.  I love my career.<br><br>
        Darren:  That’s great!  You’ve been here today, and you’ve laid a couple of pads out.  Start to finish I noticed you guys, your whole team, are very meticulous about making sure everything is just right.  Can you tell me a little bit about that process?<br><br>
        Mac: That’s right!  We focus on the details, and that’s what separates us from our competitors.  It gives us a competitive advantage against everyone else in town.  Paying attention to every detail throughout the process, ensures a phenomenal product.  Happy clients will spread the word to potential new clients.<br><br>
        Darren:  I agree.  We had the big pad poured a few months ago, and we have you back for these two smaller pads.  The finish is absolutely beautiful.  I think this is called a sanded finish.<br><br>
        Mac:  Yes.  A sand finish.  We have many different architectural finishes that we offer for concrete.  Sand is just one of them.  It has an elegant look.  It’s very popular.  Most of my clients really like this finish.<br><br>
        Darren:  I really enjoyed working with you and your team.  We found you professional from start to finish.  The entire process has been great.  Thank you very much and thank you for sharing your story.<br><br>
        Mac:  Absolutely
        <br><br>
        </p>
    </ion-card-content>
      
    
  </ion-card>
</ion-content>
