<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Best Event Calendars</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    
    <img src="/assets/events.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Great Events Each Month</ion-card-subtitle>
      <ion-card-title>Best Tucson Events</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p><b>January:</b> Tucson Jazz Festival<br>
        <b>February:</b> Tucson Gem Mineral & Fossil Showcase<br>
        <b>February:</b> Tucson Rodeo & Parade<br>
        <b>February/March:</b> Colorguard Classic<br>
        <b>March:</b> Tucson Invitational Games<br>
        <b>February:</b> MLS Preseason in Tucson<br>
        <b>March:</b> Tucson Festival of Books<br>
        <b>April:</b> Mariachi Live<br>
        <b>April:</b> Agave Heritage Festival<br>
        <b>June:</b> The Tucson 23: Mexican Food Festival<br>
        <b>July/August:</b> Summer Birding Festivals<br>
        <b>August/September:</b> Tucson’s Fall Gem Shows<br>
        <b>October:</b> Tucson Meet Yourself<br>
        <b>October:</b> Mexican Baseball Fiesta<br>
        <b>November:</b> All Souls Procession<br>
        <b>November:</b> El Tour de Tucson<br>
        <b>December:</b> Tucson Marathon NOVA Home Loans Arizona Bowl
      
      </p>
    </ion-card-content>
    
    
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/events/downtown">
          <img src="/assets/downtown-tucson.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >DowntownTucson.org</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/events/this">
          <img src="/assets/dead.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >This Is Tucson</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/events/visit">
          <img src="/assets/visit.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Visit Tucson</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/events/visit" style="visibility: hidden;">
          <img src="/assets/visit.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Visit Tucson</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
    
     
    
     
     
     
    
     
  </ion-grid>

  
  
  
  
  
  

  
</ion-content>
