<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Dog Parks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/dog.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Dog Parks</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>Even your four-legged friend needs some special time. Get out in the sunshine and enjoy tons of grass area, fountains, pooper scoopers tennis balls (donated) and other pups. You can sit at one of the tables and relax while your doggie romps around. There are two dog parks. One for large dogs and one for smaller dogs. There is no doubt both you and Fido will want to return, over and over again.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
