<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/hikes"></ion-back-button>
    </ion-button>
    <ion-title>Sabino Canyon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/sabino.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tucson's Best Hikes</ion-card-subtitle>
      <ion-card-title>Sabino Canyon</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.fs.usda.gov/recarea/coronado/recarea/?recid=80532')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Sabino Canyon</ion-label>
    </ion-item>
  
    
    
    <ion-card-content>
      <p>Located on the northeast corner of Sunrise Blvd and Sabino Canyon Road. Be one of the over one million visitors to visit Sabino Canyon annually. Ride the Tram to Savino and Bear Canyon. There are nine stops on the Sabino Tram route, so you can eat, bird watch or just soak in the beautiful scenery. If you prefer to walk and tour, you can walk along the miles of hiking trails that maze throughout the area.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
