<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Camping</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/camping/powell">
          <img src="/assets/powell.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Lake Powell</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/camping/roosevelt">
          <img src="/assets/roosevelt.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Lake Roosevelt</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/camping/puerto">
          <img src="/assets/puerto3.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Rocky Point, Mexico</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/camping/roosevelt" style="display: none;">
          <img src="/assets/roosevelt.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Lake Roosevelt</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     
    
    
     
     
     
    
     
  </ion-grid>




  
  
  
  
  
  
 

  
</ion-content>
