<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/indoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Movie Locations</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/century">
          <img src="/assets/century.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Century Park Place 20</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/galaxy">
          <img src="/assets/galaxy.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Galaxy Theatre</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/loft">
          <img src="/assets/loft.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Loft Cinema</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/roadhouse">
          <img src="/assets/roadhouse.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Roadhouse Cinemas</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/screening">
          <img src="/assets/screening-room.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Screening Room</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/indoor-things-to-do/movies/screening" style="visibility: hidden;">
          <img src="/assets/screening-room.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Screening Room</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
     
     
     
    
     
  </ion-grid>


  
  
 
  
  
  
 

  
</ion-content>
