<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>1st Choice Tax Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    
    <img src="/assets/choice2.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tax Services</ion-card-subtitle>
      <ion-card-title>1st Choice Tax Services</ion-card-title>
    </ion-card-header>
    <ion-item (click)="openWithSystemBrowser('https://www.1stchoicetaxservices.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>1st Choice Tax Services</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-320-1041">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 320-1041</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//1st+choice+tax+services+tucson/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d671c7f412f4ab:0xb61a8a03ece9d473?sa=X&ved=2ahUKEwjb-YXFvbTsAhVEKH0KHUAqCmMQ9RcwF3oECBsQBQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>3950 N Campbell Ave, Tucson, AZ 85719</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?q=1st+choice+tax+services+tucson&rlz=1C1CHBF_enUS903US903&oq=1st+choice+ta&aqs=chrome.0.0i20i263i355i457j46i20i175i199i263j69i57j0j46i175i199l4.4095j0j7&sourceid=chrome&ie=UTF-8#lrd=0x86d671c7f412f4ab:0xb61a8a03ece9d473,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/1st-choice-tax-services-tucson')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>I met George at just the right time.  I was unhappy with the lack of communication from my previous CPA.  After speaking with George, I knew instinctively that he was a man I could trust.  His knowledge of tax laws and regulations was apparent.  I asked George to review my taxes and he agreed to do so.  At the time, I didn’t know that he was an EA. (An Enrolled Agent is a tax advisor who is a federally authorized tax practitioner, employed by the U.S. Department of the Treasury.  An EA status is the highest credential awarded by the IRS)<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Established in 2005, our team of highly trained tax professionals continues to offer many services to meet your personal and business tax needs. From standard tax returns to payroll services, we have the training and expertise to do it all!</p>
    </ion-card-content>
    
  </ion-card>

</ion-content>
