<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Ben Cardenas Home Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/ben-home-care.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Home Repair</ion-card-subtitle>
      <ion-card-title>Ben Cardenas Home Care</ion-card-title>
    </ion-card-header>
    
  
    <ion-item href="tel:520-444-7274">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 444-7274</ion-label>
    </ion-item>
    
    <ion-card-content>
      <p>Ben Cardenas Home Care was referred to us by A Pro Restoration.  We were remodeling our master bathroom and had hard to replace tile in the shower.  Ben was able to remove the tile, enabling the plumbers to repair and replace all the fixtures and faucet.<br><br>
        After the plumbers completed the job, Ben reinstalled those same tiles.   You could not tell that they had ever been removed!  He also sealed the grout.  <br><br>
        He is a jack of all trades.  As well as his tile handy work, he also changed all our cabinets to soft close hinges.  He also installed our Ring System at our front door.<br><br>
        Ben shows up on time, does what he commits to and his prices are very fair.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Outstanding handyman services including but not limited to, tile work, painting, plumbing, electronics installation, door installation, drywall, grout repair, floor installation. No job too small.
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
