<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Jack Furrier Tire & Auto Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="/assets/jack-furrier.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Auto Care</ion-card-subtitle>
      <ion-card-title>Jack Furrier Tire & Auto Care</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.jackfurriers.com')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Jack Furrier Tire & Auto Care</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-547-4737">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 547-4737</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1CHBF_enUS903US903&sxsrf=ALeKk00IWIyk3XVDyjXeE6t8d2kVhe51jg%3A1598980191172&ei=X4BOX-ztCfGt0PEPlsi-8AM&q=jack+furriers+speedway+google+reviews&oq=jack+furriers+speedway+google+reviews&gs_lcp=CgZwc3ktYWIQAzoECCMQJzoECCEQClCV-ARY2YMFYPiFBWgAcAB4AIABcIgBkAiSAQMxLjmYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwismbCyucjrAhXxFjQIHRakDz4Q4dUDCA0&uact=5#lrd=0x86d66fb207ead737:0xa6e461f269678ad0,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/jack-furrier-tire-and-auto-care-tucson-31?osq=Jack+Furrier+Tire+%26+Auto+Care')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_3_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    
    <ion-card-content>
      <p>Story time about Jack Furriers.  On a road trip back to Tucson from San Diego, I was just outside of Yuma when a semi traveling in front of me caught on fire.  The driver hit his breaks and the trailer separated from the cab.  The trailer turned and slide to a stop, blocking all three lanes.<br><br>
        The rig was on fire and had stopped right in front of me.  I was in the far-right lane so in order to avoid smashing into the rig, I swerved off the freeway.  I headed right into the raven.  My Jeep SUV handled the rough road very well and I was able to ride along the side of the freeway, in the ditch, getting past the semi.  I headed to the front of the burning vehicle, which was melting into the pavement, to make sure no one was injured.  I called 911 and went on my way.  The next day I left to pick up clients only to discover that I had four flat tires!  The tires were full of railroad spikes.  Go figure! I had the car towed to Jack Furriers and they fixed all of the tires.  The manager would not let me pay for the repairs.  I told him that I didn’t purchase the tires from him, and he still wouldn’t take any money.  He said, “remember that we are here for you, anytime you need us”.  We have.  We have remained loyal Jack Furrier customers ever since.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Thank you Tucson for voting Jack Furrier your favorite 4 years in a row! We appreciate every vote that made us the favorite Auto Repair Shop and Best Tire Store and Oil Change Station.<br><br>

      We will do our very best to continue to earn your confidence in these awards as well as being recognized as Best Locally Owned Business and Best Customer Service. Thanks you Arizona and Tucson.com's Readers Choice awards 2015, 2016, 2017 & 2018!<br><br>
      
      We hope you will call us for tire repair, new tire purchases, automotive repair with ASE certified Technicians, including oil changes, battery replacement, brakes, alignment, and guaranteed auto repair service. We've built a team of go to guides dedicated to all your automotive needs - we are here to get you there!
    
    </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
