<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/camping"></ion-back-button>
    </ion-button>
    <ion-title>Camping on Lake Roosevelt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides pager="true">
      
      <ion-slide>
        <img src="/assets/roosevelt.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/roosevelt1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/roosevelt2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/roosevelt3.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    
    <ion-card-header>
      <ion-card-subtitle>Arizona's Best Camping</ion-card-subtitle>
      <ion-card-title>Lake Roosevelt</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.nps.gov/laro/index.htm')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Lake Roosevelt</ion-label>
    </ion-item>
  
    <ion-item href="tel:509-754-7800">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(509) 754-7800</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.nps.gov/laro/planyourvisit/maps.htm')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Map of Lake Roosevelt</ion-label>
    </ion-item>
  
   
    <ion-card-content>
      <p>Our destination set, we packed the puppies into the Jeep and began the 2 1/2 hour drive up North to Theodore Roosevelt Lake.   It was easy road conditions all the way from Tucson to the campground, with nicely paved and easily navigated thoroughfares.<br><br>

        PRO TIP – There are two great gas locations on your route to Lake Roosevelt.  You can stop in Mammoth for a fill up, then stop in Globe to top off the tank before you get to the marina.<br><br>
        
    
       
        Lake Roosevelt, found in the Tonto National Forest, is a very modern and well-equipped campground.  There are full 50 / 30 amp hookups for your RV’s and trailers, complete with oversize spaces for easy backing-up of your RV.  Every site features a concrete patio and a fire ring (and often grills) for warmth and cooking. There is also general store to pick up an last-minute supplies.<br><br>
        
        The design of the campsite is truly visionary.  Rather than have everyone huddle around the lake so they can get a good view, the sites are set up on a vertical terrace system (similar to stadium seating) that gives everyone an unobstructed view of the natural wonder that is Theodore Roosevelt Lake.<br><br>
        
        <strong>What To Do at Lake Roosevelt?</strong><br><br>
     
        Our days were spent on a pontoon boat that we rented from the fantastic marina.  This boat was oversized for our small family and could accommodate more people, making it the perfect option for a retreat with a group of friends.  The best thing is dogs are allowed with you, and Baxter and Bailer certainly enjoyed staring at the fish playing in the water.  When it was time to nap, the boat was covered with plush couches, perfect for a quick snuggle.<br><br>
        
        Another great option, besides the pontoon boats, would be the specially designed horse campground.  You get your own corral and ramada, with bench seating at every site.  You can pull up with your horse trailer, move your horse to the corral, then set up your camp.  Once everything is ready, you can then set out on the many manicured horse trails near the lake.  If you are an equine aficionado (I’m looking at you, Lucy), you will have the time of your life at Lake Roosevelt.<br><br>
        
        PRO TIP – The one thing Darren and I were not able to do was visit the historic cliff dwellings a few minutes drive up the mountain.  There are upper and lower cliff dwellings to visit, with tours available Friday through Monday.  You need to make reservations as the tour takes a few hours to complete, and be sure to bring plenty of water and snacks on the trip!<br><br>
        
        <strong>Play Your Trip to Glorious Lake Roosevelt</strong><br><br>
        You get the best of both worlds at Lake Roosevelt.  All the modern amenities you could want along with a rustic, natural setting that you will find so relaxing.  Escape the city lights today and retreat into Tonto National Forest for the best weekend you will have all year!  I’ll see you on the water 🙂<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
