<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/restaurants"></ion-back-button>
    </ion-button>
    <ion-title>5-Star Restaurants</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/charro">
          <img src="/assets/charro-del-rey.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Charro Del Rey</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/charro-steak">
          <img src="/assets/charro-steak.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Charro Steak</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/flying">
          <img src="/assets/ventana-canyon.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Flying V Bar & Grill</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/grill">
          <img src="/assets/the-grill.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >The Grill at Hacienda del Sol</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/jonathan">
          <img src="/assets/jonathans-cork.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Jonathan's Cork</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/maynards">
          <img src="/assets/downtown-maynards.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Downtown Maynards</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/primo">
          <img src="/assets/primo.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Primo</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/restaurants/fine-dining/primo" style="visibility: hidden;">
          <img src="/assets/primo.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Primo</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      
     </ion-row>
    
     
  </ion-grid>

  
  
</ion-content>
