<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Termagon - Termite & Pest Control Experts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    
    <img src="/assets/termagon.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Pest Control</ion-card-subtitle>
      <ion-card-title>Termagon Inc.</ion-card-title>
    </ion-card-header>
    <ion-item (click)="openWithSystemBrowser('https://www.termagon.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Termagon Inc.</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-322-9211">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 322-9211</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//termagon/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d67156b69e44bf:0x2a5c47fd1f8e384?sa=X&ved=2ahUKEwjz7tfgqLTsAhWpJjQIHSLDCLYQ9RcwFXoECBkQBQ')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>1224 N Anita Ave, Tucson, AZ 85705</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?gs_ssp=eJzj4tZP1zcsSSsusSxJMWC0UjGosDBLMTM3NDVLMrNMNTFJSrMyqDBKNE02MU9LMUyzSDW2MPHiKEktyk1Mz88DAB94Eho&q=termagon&rlz=1C1CHBF_enUS903US903&oq=termagon&aqs=chrome.1.69i57j46i175i199j0j0i10j46i175i199j0l3.4319j0j7&sourceid=chrome&ie=UTF-8#lrd=0x86d67156b69e44bf:0x2a5c47fd1f8e384,1,,,')" >
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
        <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      </ion-label>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/termagon-termite-and-pest-control-tuscon')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_4_half@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>Buying a new home is a huge investment.  Termagon Inc. is the pest control company that we refer all our buyer clients to, for their termite and wood destroying home inspections.  They are very thorough.  They understand the magnitude of the potential investment.  They ensure that the customer has peace of mind in their decision-making process.  Termagon also does pest control for all our homes.  We have two dogs that are part of our family.  We do not allow chemicals to be sprayed inside of our home.  Therefore, Termagon only treats the outside perimeter.  We have rarely seen a pest inside of our home, with this level of treatment.  Another thing I like about Termagon is that they don’t require you to sign a contract!
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    <ion-card-header>
    <ion-card-title>
    <h4>More About This Referral:</h4>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>Termagon is the company we refer all of our buyer clients to, for their termite and wood destroying home inspections. They are very thorough. They understand the magnitude of the potential investment the customer is about to undertake and want to ensure that they have peace of mind in their decision. Termagon also does pest control for all of our homes. We have two dogs that are part of our family. We do not allow chemicals to be sprayed inside of our home. Therefore, Thermagon only treats the outside perimeter. We have rarely seen a pest inside of our home, with this level of treatment. Plus, I love that they don't require you to sign a contract!</p>
    </ion-card-content>
    
  </ion-card>

</ion-content>
