<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/reid-park"></ion-back-button>
    </ion-button>
    <ion-title>Choo-Choo Train</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <img src="/assets/train.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Reid Park's Best Things To Do</ion-card-subtitle>
      <ion-card-title>Zoo Choo-Choo Train</ion-card-title>
    </ion-card-header>
    
  
    
    <ion-card-content>
      <p>All Aboard!! Take a leisurely ride around the park in the Zoo Train. You can even ask the conductor to take you to the Rose Garden! Hear the clack, clack, clack of the choo-choo chug along the pond. Kids of all ages will enjoy the laid back, scenic tour.<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
