<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do"></ion-back-button>
    </ion-button>
    <ion-title>Tucson's Best Hikes</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/outdoor-things-to-do/hikes/madera">
          <img src="/assets/madera.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Madera Canyon</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/hikes/reddington">
          <img src="/assets/pass.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Redington Pass</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/hikes/sabino">
          <img src="/assets/sabino.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Sabino Canyon</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/outdoor-things-to-do/hikes/tumamoc">
          <img src="/assets/hill.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Tumamoc Hill</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
    
    
     
     
     
    
     
  </ion-grid>


  
 
  
  
  
  
 

  
</ion-content>
