<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/outdoor-things-to-do/camping"></ion-back-button>
    </ion-button>
    <ion-title>Puerto Penasco - Rocky Point, Mexico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides pager="true">
      
      <ion-slide>
        <img src="/assets/puerto3.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/puerto1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/puerto2.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/puerto.jpg" alt="" />
      </ion-slide>
  
      
  
    </ion-slides>
    
    <ion-card-header>
      <ion-card-subtitle>Mexico's Best Camping</ion-card-subtitle>
      <ion-card-title>Puerto Penasco - Rocky Point, Mexico </ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://www.thereefrvpark.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Puerto Penasco</ion-label>
    </ion-item>
  
    <ion-item href="tel:638-383-0650">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(638) 383- 0650</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.thereefrvpark.com/maprates/')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Map of Puerto Penasco</ion-label>
    </ion-item>
  
   
    <ion-card-content>
      <p>Darren and I have been vacationing in Puerto Penasco, Rocky Point, Mexico for years now.  Our great friend and wonderful insurance agent Kristi Frank has a vacation home nearby so we like to head down together to enjoy the sun and sand.<br><br>

        PRO TIP - There are numerous Air BNB's in the area, but in my opinion, the best way to experience Rocky Point is to camp on the beach.  You'll wake up every day to a fresh, ocean breeze and you can't beat the sunsets!<br><br>
        
        We like to frequent our favorite camping spot, Reef RV Park, which is billed as the largest RV campground in Rocky Point.  The coolest thing, besides sleeping next to the beach, is the restaurant and recreation area called Wrecked at the Reef (complete with an adorable pirate symbol).<br><br>
        
        
        <strong>Wrecked At The Reef</strong><br><br>
     
        This restaurant / bar / game room concept is similar to Culinary Dropout, it's an indoor playground for adults.  You can eat, drink, and play games (pool, ping pong, etc.) all inside this wonderful area!  Outside of the venue, they have fire pits and palapas and a band shell where the service staff can bring your food and drinks to enjoy in a private space.<br><br>

        Another great option for recreation is to head the the awesome general store and ask the manager to call in some of the fantastic recreational equipment they have available for you.  Have an ATV dropped off at your campsite and go ride the sand dunes in style.  Walk down to the water to get a jet ski that is brought right to you, it is super convenient!<br><br>

        Another amazing service are the vendors that drive through the campground each morning with propane and other services.  Pro Tip - If you have a gas stove and a heater, this propane service will be your lifeline!<br><br>

        Lastly, I would be remiss if I didn't mention the awesome deals you can get on hand washing and hand waxing your RV.  Waxing your RV is critical to maintaining its appearance (unless you get the clear coat package from Frost RV) but it is very time and labor intensive, meaning it costs an arm-and-a-leg domestically.  Luckily enough, there is a talented team that can wash and wax your RV for you at the campsite for an amazing price!  Don't forget to tip generously for this incredible service!<br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
