<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-button>
    <ion-title>Great Apps You Need</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/apps/graffiti">
          <img src="/assets/graffiti.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >City of Tucson - Graffiti Removal</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/apps/parking">
          <img src="/assets/parking.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >GoTucson Parking</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     </ion-row>
     
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/apps/transit">
          <img src="/assets/transit.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle>GoTucson Transit</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
        <ion-card href="tabs/tab2/apps/streetcar">
          <img src="/assets/streetcar.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Streetcar</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
        
      </ion-col>
     
     </ion-row>

     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/apps/cyclefinder">
          <img src="/assets/cyclefinder.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle>PBSC</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="tabs/tab2/apps/razor">
          <img src="/assets/razor.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Razor</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-card href="tabs/tab2/apps/bird">
          <img src="/assets/bird.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle >Bird</ion-card-subtitle>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col>
        
      </ion-col>
     </ion-row>
    
     
     
  </ion-grid>

  
</ion-content>
