<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="tabs/tab2/professional-services"></ion-back-button>
    </ion-button>
    <ion-title>Goldies Paint and Repair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides pager="true">
      
      
      <ion-slide>
        <img src="/assets/goldies.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/goldies1.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/goldies2.jpg" alt="" />
      </ion-slide>
      
  
      
  
    </ion-slides>
    
    <ion-card-header>
      <ion-card-subtitle>Autobody Collision Repair</ion-card-subtitle>
      <ion-card-title>Goldies Paint and Repair</ion-card-title>
    </ion-card-header>
   <ion-item (click)="openWithSystemBrowser('https://goldiespaintandrepair.com/')">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Goldies Paint and Repair</ion-label>
    </ion-item>
  
    <ion-item href="tel:520-284-2620">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(520) 284-2620</ion-label>
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.google.com/maps/dir//Goldies+Paint+and+Body,+1455+W+Glenn+St,+Tucson,+AZ+85705/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x86d67154877c0b93:0x9ca1b2997b85cb66?sa=X&ved=2ahUKEwjQ1NvIk9DtAhUqJTQIHXxBDL8Q48ADMAJ6BAgDEFA')">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>1455 W. Glenn St., Tucson AZ 85705</ion-label>
    </ion-item>
    <ion-item (click)="openWithSystemBrowser('https://www.google.com/search?rlz=1C1RXQR_enUS927US927&sxsrf=ALeKk03L2ARcU94GcabOPzvf83NNF2v6nQ%3A1608041008404&ei=MMLYX9D8F6rK0PEP_IKx-As&q=goldies+paint+and+body+tucson%2C+az&oq=goldies+tucson&gs_lcp=CgZwc3ktYWIQARgAMgQIABBHMgQIABBHMgQIABBHMgQIABBHMgQIABBHMgQIABBHMgQIABBHUABYAGCDJmgAcAR4AIABAIgBAJIBAJgBAKoBB2d3cy13aXrIAQfAAQE&sclient=psy-ab#lrd=0x86d67154877c0b93:0x9ca1b2997b85cb66,1,,,')">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
      <ion-icon name="star" slot="start" style="color:gold"></ion-icon>
     
      
    </ion-item>
   <ion-item (click)="openWithSystemBrowser('https://www.yelp.com/biz/goldies-paint-and-body-tucson-4')">
      <ion-icon src="/assets/yelp.svg" slot="start"></ion-icon>
      
      <img src="/assets/yelp_stars/yelp_stars/web_and_ios/regular/regular_5@2x.png" style="width:inherit"/>
      
      
    </ion-item>
    <ion-card-content>
      <p>We were pulling the retro camper with the Jeep Grand Cherokee coming home from the beach in Mexico. As we came around the corner, we ran into a circle of really large black birds standing in the middle of the highway. All of them flew up and to the right, except one. He decided to go to the left. He hit the front end hard and bounced off the Jeep leaving us with a dented steel hood. Yes, it was a big bird.<br><br>

        The Jeep already had some road rash, so we decided to get it fixed. When I asked several of the auto dealerships around town who they refer for auto body work, several of them offered me the same information for Goldies Paint and repair. She came highly recommended at the BMW dealership.<br><br>
        
        So, I gave Jennifer a call and she quickly got me an appointment to look over the vehicle to see what I wanted done to the vehicle.<br><br>
        
        I found her to be very knowledgeable and professional. She listened to my needs and offered solutions to make my visit more pleasurable. She gave me a quote the same day I came in. Jennifer pre ordered the parts, I dropped off the car and within a week everything was done.<br><br>
        
        The results are amazing. The paint matches and trim repairs are just perfect. My car looks better than it did the day I bought it. She saved me a lot of money by resurfacing the heavy curb rash so that I did not need to buy a new bumper. Thanks Jennifer!<br><br>
        
        After she fixed the Jeep we took the BMW to her, and again, the car looks brand new.<br><br>
        
        Jennifer Acuna is very easy to talk to. Call to schedule an appointment to review you auto needs and she will take care of the rest. Tell her that Darren and Tony Ray referred you.
        <br><br>
      
      Tony Ray :)</p>
    </ion-card-content>
    
    
  </ion-card>

</ion-content>
